
# ==============================================================================
# Папки сборки движка (Твои кастомные пресеты сборки)
# ==============================================================================
**/build_linux*/
**/build_windows*/
**/build_x64*/
**/build_x32*/
build_/


# Тесты
poligon/
**/poligon/


# Финальные бинарники и кэш, о которых ты писал
**/.cache/
**/bin/
**/bin.*/
**/lib/

# ==============================================================================
# C++ / CMake / Ninja / Compilers
# ==============================================================================
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Makefile
*.cmake
!**/cmake/*.cmake
!CMakeLists.txt
*.stamp
*.manifest
*.rc

# Локальные артефакты компиляции (если что-то собралось мимо папки build)
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.pdb
*.ilk
*.exp

# ==============================================================================
# Rust (Для твоего управляющего билдера)
# ==============================================================================
**/target/
**/*.rs.bk
Cargo.lock

# Если Cargo.lock нужен для контроля версий билдера, раскомментируй строку ниже:
# !/builder/Cargo.lock

# ==============================================================================
# Python (Для скриптов автоматизации вроде build.py)
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
ENV/
env/

# ==============================================================================
# Vcpkg (Менеджер зависимостей C++)
# ==============================================================================
**/vcpkg_installed/
vcpkg-configuration.json

# ==============================================================================
# Текстовые редакторы и IDE (Neovim / i3wm / Linux специфика)
# ==============================================================================
# Кэш и сессии Neovim
.netrwhist
*~
*.swp
*.swo
.node_repl_history

# Файлы логов и дампы падения системы
*.log
*.log.*
*.dmp

# Специфика ОС (если случайно зайдешь в репозиторий с Windows или macOS)
.DS_Store
Thumbs.db
